#bigContain, #profE, #formE {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#bigContain {
	width: 100%;
	min-height: 700px;
	align-items: center;
}
#profE, #formE {
	width: 50%;
	min-width: 320px;
	max-width: 800px;
	border-radius: 15px;
	border: black 1px solid;
	padding: 15px 0 15px 40px;
	align-items: flex-start;

}
button {
	width: 90%;
	padding: 15px 0;
	border-radius: 15px;
	background-color: grey;
	color: white;
	margin-top: 20px;
	align-self: center;
}
input {
	width: 90%;
	padding: 15px 0;
	border-radius: 15px;
	font-size: 15px;
	align-self: center;
}